#a1{
    position: relative;
    z-index: 30;
    height:90px;
    background: white;
    display:block;
    width : auto;
    text-align:center;
}

#q1{
        color : #0061a0;
        position: relative;
        z-index: 30;
        height:90px;
        background: white;
        display:block;
        width : auto;


}

#a2{
    position: relative;
    z-index: 30;
    height:90px;
    background: white;
    display:block;
    width : auto;
    text-align:center;
}

#a3{
    position: relative;
    z-index: 30;
    height:90px;
    background: white;
    display:block;
    width : auto;
    text-align:center;
}
#a4{
    position: relative;
    z-index: 30;
    height:90px;
    background: white;
    display:block;
    width : auto;
    text-align:center;
}

#a5{
    position: relative;
    z-index: 30;
    height:90px;
    background: white;
    display:block;
    width : auto;
    text-align:center;
}


