#haut_page{
    position: relative;
    z-index: 30;
    height:90px;
    background: white;
    display:block;
    width : auto;
    text-align:center;
}

#banniere{
    position: absolute;
    left:49%;
}

#logo{
    float:left;
    margin-left: -9px;
    margin-top: 10px;
    height: 120%;
}




/* Je sélectionne les <li> du menu horizontal */
ul#menu_horizontal li {
    display : inline;
    padding : 0 0.5em; /* Pour espacer les boutons entre eux */
}
ul#menu_horizontal {
    list-style-type : none; /* Car sinon les puces se placent n'importe où */
}




#menu_top {
    position: absolute;
    z-index:30;
    margin-left: 70px;
    top: 25px;
}

/*#menu_horizontal li {

    list-style-type : none;
}*/

#menu_horizontal a{

    text-decoration : none;
    color : black;
    font-family:"Century Gothic";
    font-size:20px;

}
/*#menu_horizontal li a{
    position: relative;
    z-index: 30;
    display:block;
    float:left;
    width:80px;
    margin-left: 40px;
    top: -75px;
    left: 7%;
    text-decoration:none;
    text-align:center;
    font-family:"Century Gothic";
    font-size:27px;
}*/

#bandeau {

    position: relative;
    z-index: 35;
    top: 70%;
    left:100px;

    background: #00a2e8;
    border:5px solid #7f7f7f;
    border-radius:20px;
    height: 70px;
	width: 90%;

}

#b1{
    color: white;
    font-family:"Century Gothic", Helvetica, sans-serif;
    font-weight: bold;
    font-size:30px;
    margin-top: 3px;
}
#b2{
    color: white;
    font-family:"Century Gothic", Helvetica, sans-serif;
    font-style: italic;
    font-size:25px;
    margin-top: -31px;
}


#fixe{
    position :fixed;
    top : 0;
    width : 100%;
}

section{
    position: relative;
    z-index: 0;
    top: 20px;
    margin-top:150px;
    margin-bottom: 40px;
    margin-right: 10%;
    margin-left: 10%;

}

#bas_page{
    position: relative;
    z-index: 35;
    top: 70%;
    left:20px;
    margin-right: 30px;
    background: #00a2e8;
    border:5px solid #7f7f7f;
    border-radius:20px;

}
#bas_page ul{
    list-style: none;
    color : #d8d8d8;
    display:inline-block;
    vertical-align:top;
}
#bas_page a{
    color : #d8d8d8;
}

#a_cote1{
    display:inline-block;
}
#a_cote2{
    display:inline-block;
}
#a_cote3{
    display:inline-block;
}



h1 {

}

#onglet{
	display: none;
	color:#ffffff;
	letter-spacing:-1px;
	margin-bottom: 0;
	list-style-type : none;
	padding-bottom : 38px;
	margin-left : 3px;
}

#onglet li
{
	overflow: hidden;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	float : left;
	height : 20px; /* centrer le texte */
    background-color: #00a2e8;
    border:3px solid #00a2e8;
    border-radius: 10px;
    padding:8px;
    margin : 1px 2px 0 2px;  /* Pour IE  */
    cursor: pointer;
}
#onglet .actif{
    position: relative;
    z-index: 3;
    border-bottom: none;
    color: #00a2e8;
    background: white;
}
#contentonglet{
    clear: both;
    position: relative;
    z-index: 1;
    top: -7px;
    height:auto;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border:3px solid #00a2e8;
    border-radius: 10px;
    background: white;

    overflow: hidden;


}

#toto{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


#connex{
    width: 300px;
    /*height: 200px;*/
    border:4px solid #00a2e8;
    border-radius:20px;
    padding: 50px 0px 40px 0px;
    margin: 1px 1px 1px 1px;

}

#inscrip{
    width: 300px;
    /*height: 200px;*/
    border:4px solid #00a2e8;
    border-radius:20px;
    padding: 30px 0px 40px 0px;
    margin: 1px 1px 1px 1px;
}
#conteneur {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

h2{
    position: relative;
    font-family:"Century Gothic", Helvetica, sans-serif;
    color: #00a2e8;
    font-style: italic;
    font-weight: 500;
}

#titrcon{
    margin-top: -68px;
    margin-left: 20px;
    background-color: white;
    padding-right: 10px;
    padding-left: 10px;
}

#titrins{
    margin-top: -50px;
    margin-left: 20px;
    background-color: white;
    padding-right: 10px;
    padding-left: 10px;
}



form {
    box-shadow: none;
    font-family:"Century Gothic", Helvetica, sans-serif;
    /*font-size:90%;*/
    margin-top:40px;
    margin-bottom:40px;
    text-align: center;

}

input, textarea, select {
    padding:3px;
    border:2px solid #bababa;
    width:200px;

}
input[type=submit], input[type=reset] {
    width:100px;
    margin-left:5px;
    margin-top: 2px;
    cursor:pointer;
    font-family:"Century Gothic", Helvetica, sans-serif;
}

h6 {
    font-family:Arial, Helvetica, sans-serif;
    font-size:90%;
    margin-bottom: -10px;
}

body{
	display: flex;
	flex-direction: column;

	width: 98%;
	height: 80%;
}






/*Style barre echelle*/
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    height: 10%;
    margin: 1.4px 0;
    border : none;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 20%;
    height: 31.2px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: -webkit-linear-gradient(top, #94a0be, #abb9d2);
    border-radius: 14.3px;
    border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 1.8px 1.8px 5.9px rgba(0, 0, 0, 0.49), 0px 0px 1.8px rgba(13, 13, 13, 0.49);
    border: 2.9px solid #7f7f7f;
    height: 37px;
    width: 34px;
    border-radius: 28px;
    background: -webkit-linear-gradient(top, #0061a0, #00a2e8);

    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -2.9px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: -webkit-linear-gradient(top, #94a0be, #abb9d2);
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 31.2px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: -webkit-linear-gradient(top, #94a0be, #abb9d2);
    border-radius: 14.3px;
    border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 1.8px 1.8px 5.9px rgba(0, 0, 0, 0.49), 0px 0px 1.8px rgba(13, 13, 13, 0.49);
    border: 2.9px solid #7f7f7f;
    height: 37px;
    width: 34px;
    border-radius: 28px;
    background: -webkit-linear-gradient(top, #0061a0, #00a2e8);

    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 31.2px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: -webkit-linear-gradient(top, #94a0be, #abb9d2);
    border: 0px solid #010101;
    border-radius: 28.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
    background: -webkit-linear-gradient(top, #94a0be, #abb9d2);
    border: 0px solid #010101;
    border-radius: 28.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
    box-shadow: 1.8px 1.8px 5.9px rgba(0, 0, 0, 0.49), 0px 0px 1.8px rgba(13, 13, 13, 0.49);
    border: 2.9px solid #7f7f7f;
    width: 34px;
    border-radius: 28px;
    background: -webkit-linear-gradient(top, #4a4a58, #00a2e8);

    cursor: pointer;
    height: 35px;
}
input[type=range]:focus::-ms-fill-lower {
    background: -webkit-linear-gradient(top, #94a0be, #abb9d2);
}
input[type=range]:focus::-ms-fill-upper {
    background: -webkit-linear-gradient(top, #94a0be, #abb9d2);
}



/*Switch on/off */
.switch{
    display:none;
    cursor: pointer;
}
.ui-content{
    cursor: pointer;
    background: -webkit-linear-gradient(top,#dedede,#fefefe);
    border-radius: 20px;
    display: inline-block;
    text-align: left;
    height: 26px;
    overflow: hidden;
    padding: 5px;
}
.ui-switch-range{
    cursor: pointer;
    background: #FFF;
    border: 1px #cfc8bc solid;
    border-radius: 15px;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 1), 0 1px 1px rgba(0, 0, 0, .15) inset;
    display: inline-block;
    height: 20px;
    margin-bottom: 15px;
    padding: 2px;
    position: relative;
    width: 70px;
}

.switch ~ label .ui-switch-range{
    cursor: pointer;
    background: -webkit-linear-gradient(top, #868eab, #c8d9f3);
}

.switch:checked ~ label .ui-switch-range{
    cursor: pointer;
    background: -webkit-linear-gradient(top, #f4a100, #a76900);
}


.ui-switch-handle{
    cursor: pointer;
    background: -webkit-linear-gradient(top, #0061a0, #00b4ff);
    border-radius: 20px;
    box-shadow: 0 1px 3px 1px rgba(0,0,0,.3), 0 1px 1px rgba(255,255,255,.8) inset;
    display: inline-block;
    height: 20px;
    position: absolute;
    width: 20px;
}
.switch:checked ~ label .ui-switch-handle{
    cursor: pointer;
    right: 2px;
}
.ui-switch-handle:before{
    cursor: pointer;
    margin-left: -30px;
    line-height: 22px;
    content: "ON";
    color: #FFF;
}
.ui-switch-handle:after{
    cursor: pointer;
    position: relative;
    right: -27px;
    top: -20px;
    content: "OFF";
}


