#haut_page{
	position: relative;
	z-index: 20;
	background: white;
	display:block;
	height: 75px;
	width : auto;
}
#haut_page img{
	position: relative;
	z-index: 20;
	margin-left: 40%;
	height: 75px;
	text-align: center;
}

ul#menu_horizontal {
	position: relative;
	z-index: 20;
	width : 100%;
	height : 50px;
	padding : 0;
	background-color : grey;
	list-style-type : none;
	margin-top: 1px;
}
ul#menu_horizontal li {
	padding : 0 0.5em;
	line-height : 50px;
}
li.bouton_droite li.bouton_gauche {
	float : left;
}

li.bouton_droite {
	float : right;
	border-left : 1px dashed black;
}

ul#menu_horizontal a {
	color : white;
	text-decoration : none;
	padding : 0 0.5em;
}


#menu-deroulant, #menu-deroulant ul {
	margin-top: 2px;
	background-color:grey;
    padding: 0;
    list-style: none;
}
#menu-deroulant {
    /* Menu a gauche */
	width: 50px;
	height : 30px;
    float: left;
}
#menu-deroulant li {
    /* Ne s'effectue qu'au survole de l'image */
    display: inline-block;
}
#menu-deroulant ul li {
    /* On met les sousliens a la ligne */
    display: inherit;
}
#menu-deroulant a {
    /* Style d'ectriture */
    text-decoration: none;
    display: block;
    color:white;
}
#menu-deroulant ul {
    position: absolute;
    /* on cache les sous menus complètement sur la gauche */
    left: -999em;
    text-align: left;
    z-index: 1000;
}
#menu-deroulant li:hover ul {
    /* Au survol des li du menu on replace les sous menus */
    left: auto;
}

#fixe{
    position :fixed;
    top : 0;
    width : 100%;
}

section{
	margin-top: 30px;
    margin-right: 10%;
    margin-left: 10%;
	border:2px solid #4A4A58;
	background-color: #636d76;
    height:auto;
}

#bas_page{
	display:block;
	bottom:0;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 7px;
    background-color: #808080;
}
#bas_page ul{
	list-style: none;
	color : white;
	display:inline-block;
    vertical-align:top;
}
#bas_page a{
	color : white;
}

#a_cote1{
	display:inline-block;
}
#a_cote2{
	display:inline-block;
}
#a_cote3{
	display:inline-block;
}

#logo{
	float:right;
	margin-top: -1px;
	max-width: 12%;
}

h1 {
	margin-top: 150px;
	margin-left: 10%;
	font-family:Arial, sans-serif;
	font-weight: 600;
	font-size:25px;
	letter-spacing:-2px;
}

#listepiece{
	display: none;

	color:#ffffff;
	letter-spacing:-1px;
	margin-bottom: 0;
	list-style-type : none;
	padding-bottom : 38px;
	margin-left : 3px;
}

#listepiece li
{
	overflow: hidden;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	float : left;
	height : 20px; /* centrer le texte */
	background-color: #636d76;
	border:1px solid #494e52;
	padding:8px;
	margin : 1px 2px 0 2px;  /* Pour IE  */
	cursor: pointer;
	z-index: 1;
}

#listepiece .actif{
	position: relative;
	border-bottom: none;
	color: #494e52;
	z-index: 11;
	background: whitesmoke;
}

#contentonglet{
	clear: both;
	position: relative;
	top: -3px;
	height:1000px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	border:2px solid #4A4A58;
	background: whitesmoke;
	z-index: 10;
	overflow: hidden;
}




