#haut_page{
	background: white;
	display:block;
	height: 75px;
	width : auto;
}
#haut_page img{
	margin-left: 40%;
	height: 75px;
	text-align: center;
}

ul#menu_horizontal { 
	width : 100%;
	height : 50px;
	padding : 0;
	background-color : grey;
	list-style-type : none;
	margin-top: 1px;
}
ul#menu_horizontal li {
	padding : 0 0.5em;
	line-height : 50px;
}
li.bouton_droite li.bouton_gauche {
	float : left;
}

li.bouton_droite {
	float : right;
	border-left : 1px dashed black;
}

ul#menu_horizontal a {
	color : white;
	text-decoration : none;
	padding : 0 0.5em;
}


#menu-deroulant, #menu-deroulant ul {
	margin-top: 2px;
	background-color:grey;
    padding: 0;
    list-style: none;
}
#menu-deroulant {
    /* Menu a gauche */
	width: 50px;
	height : 30px;
    float: left;
}
#menu-deroulant li {
    /* Ne s'effectue qu'au survole de l'image */
    display: inline-block;
}
#menu-deroulant ul li {
    /* On met les sousliens a la ligne */
    display: inherit;
}
#menu-deroulant a {
    /* Style d'ectriture */
    text-decoration: none;
    display: block;
    color:white;
}
#menu-deroulant ul {
    position: absolute;
    /* on cache les sous menus complètement sur la gauche */
    left: -999em;
    text-align: left;
    z-index: 1000;
}
#menu-deroulant li:hover ul {
    /* Au survol des li du menu on replace les sous menus */
    left: auto;
}

#fixe{
    position :fixed;
    top : 0;
    width : 100%;
}

section{
	margin-top: 135px;
    margin-right: 10%;
    margin-left: 10%;
    /*width : 80%;*/
    height:1500px;
}

#bas_page{
	display:block;
	bottom:0;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 7px;
    background-color: grey;
}
#bas_page ul{
	list-style: none;
	color : white;
	display:inline-block;
    vertical-align:top;
}
#bas_page a{
	color : white;
}

#a_cote1{
	display:inline-block;
}
#a_cote2{
	display:inline-block;
}
#a_cote3{
	display:inline-block;
}

#logo{
	float:right;
	margin-top: -1px;
	max-width: 12%;
}

