#menu-deroulant, #menu-deroulant ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#menu-deroulant {
    /* Menu a gauche */
    text-align: left;
}
#menu-deroulant li {
    /* Ne s'effectue qu'au survole de l'image */
    display: inline-block;
}
#menu-deroulant ul li {
    /* On met les sousliens a la ligne */
    display: inherit;
}
#menu-deroulant a {
    /* Style d'ectriture */
    text-decoration: none;
    display: block;
    color:#000;
}
#menu-deroulant ul {
    position: absolute;
    /* on cache les sous menus complètement sur la gauche */
    left: -999em;
    text-align: left;
    z-index: 1000;
}
#menu-deroulant li:hover ul {
    /* Au survol des li du menu on replace les sous menus */
    left: auto;
}